<!--
 * Title: about.component.html
 * Author: Michael Christman
 * Date: August 24, 2023
 * Sources Used:
 * Angular Tutorial for Beginners: How to Rename Projects video by Professor Krasso (https://youtu.be/T7ef0bOOWs4)
 * Angular Tutorial for Beginners: Classes and Interfaces video by Professor Krasso (https://youtu.be/vvXSW_Cldvg)
 * Angular Tutorial for Beginners: How to Pass Data to Routes by Professor Krasso (https://www.youtube.com/watch?v=KTVHu4hafUs)
 * Bootstrap: https://getbootstrap.com/docs/4.0/content/reboot/
 *-->

<!-- Container for the composer information. -->
<div class="composer-container">
  <!-- Row for the composer's title. -->
  <div class="row">
    <div class="col-8 m-auto">
      <!--Adding a title for the composer, Hans Zimmer.-->
      <h2 class="text-center m-4 mb-3">Hans Zimmer</h2>
    </div>
  </div>

  <hr />

  <!-- Row for the composer's image and bio. -->
  <div class="row">
    <!-- Column for the composer's image with a caption. -->
    <div class="col-md-4 text-center text-md-left">
      <figure style="display: inline-block">
        <!-- Composer's image. -->
        <img
          src="assets/hans-zimmer.jpg"
          class="img-fluid rounded"
          alt="Hans Zimmer"
          style="max-width: 60%; height: auto"
        />
        <!-- Caption for the image with a source link. -->
        <figcaption class="text-center p-2">
          <small class="text-muted" style="font-size: 60%">
            <em>Image courtesy of </em>
            <a
              href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwaldorfmusic.com%2Fhans-zimmer-interview%2F&psig=AOvVaw2r3wcYLdjQXb17y3PvBie5&ust=1693773939162000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCICSo-HljIEDFQAAAAAdAAAAABAE"
              target="_blank"
              class="text-info"
            >
              Waldorf Music
            </a>
          </small>
        </figcaption>
      </figure>
    </div>

    <!-- Column for a brief biography of Danny Elfman. -->
    <div class="col-md-8">
      <p class="mb-4" style="line-height: 1.6">
        Hans Florian Zimmer was born on September 12th 1957. He is a German film score composer and music producer. He has won two Oscars and four Grammys, and has been nominated for three Emmys and a Tony. Zimmer was also named on the list of Top 100 Living Geniuses, published by The Daily Telegraph in 2007.

His works are notable for integrating electronic music sounds with traditional orchestral arrangements. Since the 1980s, Zimmer has composed music for over 150 films. He has won two Academy Awards for Best Original Score for The Lion King (1994), and Dune (2021). His works include Gladiator, The Last Samurai, the Pirates of the Caribbean series, The Dark Knight trilogy, Inception, Man of Steel, Interstellar, Dunkirk, and No Time To Die.</p>

<p>Zimmer spent the early part of his career in the United Kingdom before moving to the United States. He is the head of the film music division at DreamWorks Pictures and DreamWorks Animation studios and works with other composers through the company that he founded, Remote Control Productions, formerly known as Media Ventures. His studio in Santa Monica, California, has an extensive range of computer equipment and keyboards, allowing demo versions of film scores to be created quickly.

Zimmer has collaborated on multiple projects with directors including Christopher Nolan, Ridley Scott, Ron Howard, Gore Verbinski, Michael Bay, Guy Ritchie, and Denis Villeneuve.</p>
    </div>
  </div>
</div>
