<!--
 * Title: my-details.component.html
 * Author: Michael Christman
 * Date: August 13th, 2023
 * Description: This is the my-details component for the profile-app.
 * Sources Used:
 * Angular Tutorial for Beginners video by Professor Krasso
 * Bootstrap List-Group: https://getbootstrap.com/docs/4.0/components/list-group/
 *-->

<!--A Bootstrap unordered list of my details-->
<ul class="list-group">
  <li class="list-group-item"><strong>Name: </strong>Michael Christman</li>
  <li class="list-group-item"><strong>Favorite Food: </strong>Pepperoni Pizza</li>
  <li class="list-group-item"><strong>Favorite Color: </strong>Yellow</li>
</ul>
